html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 90vw;
  margin: 0.25in auto;
}

h1 {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}

div.question {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  grid-column-gap: 10px;
  align-items: start;
}

div.question div.code {
  overflow-x: auto;
  height: 100%;
}

div.question div.code pre {
  height: calc(100% - 1em * 2);
}

div.rubric {
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
}

div.rubric > div {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 10px;
  align-items: center;
  grid-gap: 6px;
}

div.rubric > div > .buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

div.rubric label input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

div.rubric textarea {
  width: 100%;
  height: 6em;
}


div.rubric label button {
  text-align: center;
}

button {
  background: #eee;
  border-radius: 0.75em;
}

button.selected {
  background: blue;
  color: white
}

#who {
  display: none;
}

#progress {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fill, 20px);
  justify-content: center;
}

#xprogress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;

}

#progress span {
  border-radius: 50%;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid blue;
}

#progress span.current {
  box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.5);
}

#progress span.done {
    background: blue;
}

#score {
  text-align: right;
}
